<% if user_signed_in? %>
  <% current_user_id = current_user.id.to_s() %>
  <%  if current_user.user_type == "student" %>
    <!-- Discover -->
    <li>
      <%= link_to 'Internships', search_job_postings_path, :class => 'navbar-link' %>
    </li>
    <!-- Explore -->
    <li>
      <%= link_to 'Employers', company_profiles_path, :class => 'navbar-link' %>
    </li>
    <!-- student_profile -->
    <li class="has-dropdown">
      <a>
        <%= link_to 'Profile', student_profile_path(current_user_id) %>
      </a>
      <ul class="dropdown">
        <li>
          <%= link_to 'View Profile', student_profile_path(current_user_id), :class => 'navbar-link' %>
        </li>          
        <li>
          <%= link_to 'Edit Profile', edit_student_profile_path(current_user_id), :class => 'navbar-link' %>
        </li>
        <li>
          <%= link_to 'Experience', stu_work_experiences_path, :class => 'navbar-link' %>
        </li>
        <li>
          <%= link_to 'Skill', skills_path, :class => 'navbar-link' %>
        </li>
        <li>
          <%= link_to 'Interest', stu_interests_path, :class => 'navbar-link' %>
        </li>
        <li>
          <%= link_to 'Certification', stu_certifications_path, :class => 'navbar-link' %>
        </li>
        <li>
          <%= link_to 'References', stu_references_path, :class => 'navbar-link' %>
        </li>
      </ul>
    </li>
    <!-- Account -->
    <li class="has-dropdown">
      <a> <%= link_to 'Account' %> </a>
      <ul class="dropdown">
        <li>
          <%= link_to 'Application History', applicants_path %>
        </li>
        <li>
        <%= link_to 'Settings', edit_user_registration_path, :class => 'navbar-link' %>
        </li>
        <li>
          <%= link_to "Sign out", destroy_user_session_path, method: :delete, :class => 'navbar-link' %>
        </li>
      </ul>
    </li>
  <% elsif current_user.user_type == "company" %>
    <li>
      <%= link_to 'Recruit',search_student_profiles_path, :class => 'navbar-link' %>
    </li>
    <li>
      <%= link_to 'Internships', new_job_posting_path, :class => 'navbar-link'  %>
    </li>
    <li class="has-dropdown">
      <a> <%= link_to 'Profile', company_profile_path(current_user_id) %> </a>
      <ul class="dropdown">
        <li>
          <%= link_to 'View', company_profile_path(current_user_id), :class => 'navbar-link' %>
        </li>
        <li>
          <%= link_to 'Edit', edit_company_profile_path(current_user_id), :class => 'navbar-link' %>
        </li>
      </ul>
    </li>
    <li class="has-dropdown">
      <a> <%= link_to 'Account' %> </a>
      <ul class="dropdown">
        <li>
          <%= link_to "Manage Listings", company_posting_path %>
        </li>
        <li>
          <%= link_to 'Postings History', offers_path %>
        </li>
        <li>
        <%= link_to 'Settings', edit_user_registration_path, :class => 'navbar-link' %>
        </li>
        <li>
          <%= link_to "Sign out", destroy_user_session_path, method: :delete, :class => 'navbar-link' %>
        </li>
      </ul>
    </li>
  <% else %>
      <!-- #something to do here for admin -->
  <% end %>
<% end %>
