<div class="site-content">
  <div class="row" style="max-width: 30em;">
    <div class="all">

    <!--title: sign in-->
    <div class="large-12 small-12 columns">
      <div class="welcome">
        <div class="row">
          <h2>Resend Confirmation Instruction</h2>
        </div><hr>
      </div>

	<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>

	<!--email-->
	<div class="row">
	  <%= f.label :email %>
	  <%= f.email_field :email, autofocus: true %>
	</div>

  	<div class="row">
		<div class="large-12 small-12 columns">
	  		<%= f.submit "Resend confirmation instructions", class:"button radius large-12 small-12 medium-12" %>
		</div>
	</div>

	<% end %>

	<!--renders login in & forget_passwordlink-->
	<div class="row">
        <%= render "devise/shared/links" %>
    </div>


	    </div>
	  </div>
	</div>
</div>