<div class="site-content">
  <div class="row" style="max-width: 30em;">
    <div class="all">

      
      <!--title: Edit-->
      <div class="large-12 small-12 columns">
        <div class="welcome">
          <div class="row">
            <div class="large-12 medium-12 small-12 columns">
            <h2>Edit <%= resource_name.to_s.humanize %></h2></div><hr>
          </div>
        </div>
      </div>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      

      <!--email-->
      <div class="row">
        <div class="large-12 medium-12 small-12 columns">
          <div><%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true %>
        </div>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>
      
      <!--password-->
      <div class="row">
        <div class="large-12 medium-12 small-12 columns">
          <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
          <%= f.password_field :password, autocomplete: "off" %>
        </div>
      </div>
      
      <!--password confirmation-->
      <div class="row">
        <div class="large-12 medium-12 small-12 columns">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
        </div>
      </div>
      
      <!--current password-->
      <div class="row">
        <div class="large-12 medium-12 small-12 columns">
          <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
          <%= f.password_field :current_password, autocomplete: "off" %>
        </div>
      </div>
      
      <!--button_update-->
      <div class="row">
        <div class="large-12 medium-12 small-12 columns">
          <%= f.submit "Update", class:"button radius large-12 small-12 medium-12" %>
        </div>
      </div>
      <% end %>
<!--
      <h3>Cancel my account</h3>

      button_cancel my account
      <div class="row">
        <div class="large-12 medium-12 small-12 columns">
          <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class:"button radius large-4 small-4 medium-4" %></p>
        </div>
      </div>

          <%= link_to "Back", :back %>
-->
    

    </div>
  </div>
</div>