<div class="site-content" >
  <div class="row" style="max-width: 30em;">
    <div class="all">
      <div class="large-12 small-12 columns">
      
        <!--title: sign up-->
        <div class="welcome">
          <div class="row">
            <div class="large-12 small-12 columns">
              <h2>Sign up</h2><hr>
            </div>
          </div>
        </div>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            
        <!--email-->  
        <div class="row">
            <%= f.label :email %>
            <%= f.email_field :email, autofocus: true %>
        </div>
        
        <!--Parents password & password confirmation-->
        <div class="row">
          <!--password-->
          <div class="large-12 small-12 columns">
            <%= f.label :password %> <% if @validatable %><i>(<%= @minimum_password_length %> characters minimum)</i><% end %>
            <%= f.password_field :password, autocomplete: "off" %>
          </div>  
          <!--password confirmation-->
            <div class="large-12 small-12 columns">
            <%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation, autocomplete: "off" %>
            </div>  
        </div>

        <% if params[:action] === "new" %>
          <%= f.hidden_field :user_type, value: params[:user_type] || "student" %>
        <% end %>
<!--         <div>
          <%# link_to "Register with Twitter", user_omniauth_authorize_path(:twitter), :class => 'navbar-link' %>
        </div> -->
        <!--sign_up button-->
        <div class="row">
            <%= f.submit "Join", class:"button radius large-12 small-12 medium-12" %>
        </div>
        
        <!--renders login link-->
        <div class="row">
            <%= render "devise/shared/links" %>
        </div>
        <% end %>

      </div>
    </div>
  </div>
</div>

