<div class="site-content">
  <div class="row" style="max-width: 30em;">
    <div class="all">
      <div class="large-12 small-12 columns">
          <div class="welcome">
            <div class="row">
              <div class="large-12 medium-12 small-12 columns">
                <h2>Search opportunities</h2>
              </div><hr>
            </div>
          </div>
      </div>

    <%= simple_form_for @search_position do |f| %>
      <div class="field">
          <%= f.input :industry_id, collection: Industry.order(:name) %><br />
      </div>
      <div>
        <%= f.input :job_function_id, collection: JobFunction.order(:name)%><br />
      </div>
      <div>
        <%= f.input :location_id, collection: Location.order(:name) %><br />
      </div>
      
      <div class="large-12 medium-12 small-12 columns">
        <a><%= submit_tag 'Search' , class:"button radius large-12 small-12 medium-12" %></a>
      </div>

<!--       <div class="large-12 medium-12 small-12 columns">
        <a><%= submit_tag 'Save Search', class:"button radius large-12 small-12 medium-12", :name => 'save_search' %></a>
      </div> -->
    <% end %>

    </div>
  </div>
</div>
