<div class="site-content">
  <div class="row" style="max-width: 30em;">
    <div class="all">

    <!--title: sign in-->
    <div class="large-12 small-12 columns">
      <div class="welcome">
        <div class="row">

          <h2>Change your Password</h2>

        </div><hr>

      </div>
    </div>

	<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
	
	<%= f.hidden_field :reset_password_token %>
	
	<!--password-->
	<div class="row">
	<%= f.label :password, "New password" %>
    <%= f.password_field :password, autofocus: true, autocomplete: "off" %>
    </div>
	
	<!--password confirmation-->
	<div class="row">
	<%= f.label :password_confirmation, "Confirm new password" %>
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>
	
	<div class="row">
		<div class="large-12 small-12 columns">
	  		<%= f.submit "Change my password", class:"button radius large-12 small-12 medium-12" %>
		</div>
	</div>
	
	<% end %>

	<div class="row">

        <%= render "devise/shared/links" %>

    </div>

    </div>
  </div>
</div>