<div class = 'side-nav'>
	<%= link_to "About Us", pages_about_path %> 
	<%= link_to "FAQ", pages_getting_started_path %> 
	<% link_to "Success Stories", pages_success_stories_path %> <br/>
	<%= link_to "For Students", pages_for_students_path %> 
	<%= link_to "For Companies", pages_for_companies_path %> 
	<%= link_to "For Schools", pages_for_schools_path %>
	<% link_to "Board & Advisors", pages_board_and_advisors_path %> <br/>
	<% link_to "Investors", pages_partners_path %> <br/>
	<% link_to "Partners", pages_investors_path %> <br/>
	<%= link_to "Contact", pages_contact_path %>
</div>