<h1>Search</h1>

<%= form_for @search do |f| %>
	<div class="field">
		<%= f.label :keywords %><br />
	    <%= f.text_field :keywords %>
	</div>
	<div class="field">
	    <%= f.label :school_year %><br />
    	<%= f.collection_select :school_year, StudentProfile.order(:school_year), :id, :school_year, :include_blank => true %>
	</div>
	<div class="field">
		<%= f.label :major %><br />
    	<%= f.collection_select :major, StudentProfile.order(:major), :id, :major, :include_blank => true %>
	</div>
	<div class="actions"><%= f.submit "Search" %></div>
<% end %>