<%= form_for(@job_posting) do |f| %>
  <% if @job_posting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job_posting.errors.count, "error") %> prohibited this job_posting from being saved:</h2>

      <ul>
      <% @job_posting.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :position %><br>
    <%= f.text_field :position %>
  </div>
  <div class="field">
    <%= f.label :job_description %><br>
    <%= f.text_area :job_description %>
  </div>
  <div class="field">
    <%= f.label :job_start %><br>
    <%= f.date_select :job_start %>
  </div>
  <div class="field">
    <%= f.label :job_end %><br>
    <%= f.date_select :job_end %>
  </div>
  <div class="field">
    <%= f.label :position_time %><br>
    <%= f.select :position_time, [['Full-time', 'Full-time'], ['Part-time', 'Part-time']] %>
  </div>
  <div class="field">
    <%= f.label :job_paid %><br>
    <%= f.select :job_paid, [['Paid', 'Paid'], ['Unpaid', 'Unpaid']] %>
  </div>
  <div class="field">
    <%= f.label :job_requirements %><br>
    <%= f.text_area :job_requirements %>
  </div>
    <div class="large-12 medium-12 small-12 columns">
      <%= f.submit "Post", class:"button radius large-12 small-12 medium-12" %>
    </div>
<% end %>
