        <div class = 'search_wrapper'>
          <%= form_tag search_job_postings_url, :method => 'get' do %>
          <div class="search_postings">
            <div class="row">
            
            <!-- General search -->
            <%= search_field_tag :q, params[:q], placeholder: "Enter your search" %><br/>

           <!-- search_positions -->
            <!-- <div class="large-3 medium-3 small-12 columns">
                <div class="search_positions">
                  <p>
                    <%= search_field_tag :position_text, @position_text, placeholder: "Position eg. Sales" %>
                  </p>
                </div>
            </div> -->
            <!-- search_pay -->
            <!-- <div class="large-3 medium-3 small-12 columns">
              <div class="search_pay">
                <p>
                   select_tag :paid_text, options_for_select(@pay, @paid_text), placeholder: "Pay" %>
                </p>
              </div> 
            </div> -->
            <!-- search_description -->
            <!-- <div class="large-3 medium-3 small-12 columns">
              <div class="search_pay">
                <p>
                  <%= search_field_tag :description_text, @description_text, placeholder: "Description" %>
                </p>
              </div> 
            </div> -->
            <!-- search_requirements -->
            <!-- <div class="large-3 medium-3 small-12 columns">
              <div class="search_pay">
                <p>
                  <%= search_field_tag :requirements_text, @requirements_text, placeholder: "Requirements" %>
                </p>
              </div> 
            </div> -->


            <!-- search_button -->
            <div>
              <div class = 'search_button'>
                <a><%= submit_tag 'Search' , class:"button radius large-12 small-12 medium-12" %></a>
              </div>
            </div>
          </div>

      <% end %>
      </div>