<p id="notice"><%= notice %></p>

<p>
  <strong>Company profile:</strong>
  <%= @shortlisting.company_profile_id %>
</p>

<p>
  <strong>Student profile:</strong>
  <%= @shortlisting.student_profile_id %>
</p>

<%= link_to 'Edit', edit_shortlisting_path(@shortlisting) %> |
<%= link_to 'Back', shortlistings_path %>
