<%= form_for(@stu_work_experience) do |f| %>
  <% if @stu_work_experience.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@stu_work_experience.errors.count, "error") %> prohibited this stu_work_experience from being saved:</h2>

      <ul>
      <% @stu_work_experience.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :company %><br>
    <%= f.text_field :company %>
  </div>
  <div class="field">
    <%= f.label :position %><br>
    <%= f.text_field :position %>
  </div>
  <div class="field">
    <%= f.label :start_date %><br>
    <%= f.date_select :start_date %>
  </div>
  <div class="field">
    <%= f.label :end_date %><br>
    <%= f.date_select :end_date %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="row">
    <div class="actions">
      <%= f.submit "Add Experience", class:"button radius large-12 small-12 medium-12" %>
    </div>
  </div>
<% end %>