<div class="contain-to-grid sticky">
  <nav class="top-bar" data-topbar role="navigation" data-options="sticky_on: large">
      <!-- Left Nav Section and Toggle Menu -->
    <ul class="title-area">
      <div class="name" >
        <ul class="left">
          <div class ="logo">
            <% if current_user.present? %>
              <% if current_user.user_type == "company" %>
                <% if current_user.profile.verified == true %>
                  <h1><%= link_to image_tag('https://s3-us-west-2.amazonaws.com/stutern/stutern_logo.png'), search_student_profiles_path %></h1>
                <% else %>
                  <h1><%= link_to image_tag('https://s3-us-west-2.amazonaws.com/stutern/stutern_logo.png'), '/' %></h1>
                <% end %>
              <% elsif current_user.user_type == "student" %>
                <h1><%= link_to image_tag('https://s3-us-west-2.amazonaws.com/stutern/stutern_logo.png'), search_job_postings_path %></h1>
              <% end %>
            <% else %>
              <h1><%= link_to image_tag('https://s3-us-west-2.amazonaws.com/stutern/stutern_logo.png'), '/' %></h1>
            <% end %>
          </div>
        </ul>
        <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
      </div>
    </ul>
    <!-- Right bar -->
    <section class="top-bar-section">
      <!-- Righthandside navbar -->
      <ul class="right">
        <%= render 'devise/menu/common_user_items' %>
        <%= render 'devise/menu/login_items' %>
        <%= render 'devise/menu/registration_items' %>
      </ul>
    </section>
  </nav>
</div>
